#sc2{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(201, 201, 201);
}
.login-form1{
   display: flex;
   flex-direction: column;
   padding: 30px;
   border: 1px solid rgb(224,224,224);
   border-radius: 10px;
   width: 350px;
   color: whitesmoke;
  background-color: #32aeb1;
}
.login-form1 p{
  font-size: 30px;
}
.login-form1 label{
  padding: 0px;
  margin-top: 16px;
  font-weight: 700;
  font-size: 16px;
}
.login-form1 input{
   margin: 2px 0px;
   border-radius: 5px;
   padding: 5px;
   border: 2px solid rgb(154,154,154);
   font-size: 18px;
}
.login-form1 input:focus{
  outline: 2px solid rgb(0, 255, 255);
  border: none;
}
.login-form1 button{
  background-color: whitesmoke;
  background-color:darkgray;
  margin: 20px 0px;
  border: none;
  font-size: 20px;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
}
.login-form1 button:hover{
  color: #32aeb1;
  background-color: black;
  cursor: pointer;
}
.success-msg2{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(188, 212, 153);
  padding: 10px;
  border-radius: 10px;
  color: green;
}
.error-msg2{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(219, 171, 171);
  color: red;
  padding: 5px;
  border-radius: 4px;
}

/* old code ----------------------------------------------------------------------- */
/* .container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #9900ff, #cc80ff);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .innerBox {
    min-width: 480px;
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer .error {
    font-weight: bold;
    font-size: 0.875rem;
    color: #ff3300;
    text-align: center;
  }
  .footer button {
    outline: none;
    border: none;
    background-color: #9900ff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
  }
  .footer button:disabled {
    background-color: gray !important;
  }
  .footer button:hover {
    background-color: #aa2aff;
  }
  
  .footer p {
    font-weight: 700;
    color: #000;
  }
  .footer p span a {
    font-weight: bold;
    color: #9900ff;
    letter-spacing: 1px;
    font-size: 1rem;
    text-decoration: none;
  } */








/* old code------------------------------------------------------ */
/* .container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #9900ff, #cc80ff);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .innerBox {
    min-width: 480px;
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer .error {
    font-weight: bold;
    font-size: 0.875rem;
    color: #ff3300;
    text-align: center;
  }
  
  .footer button {
    outline: none;
    border: none;
    background-color: #9900ff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
  }
  
  .footer button:disabled {
    background-color: gray !important;
  }
  
  .footer button:hover {
    background-color: #aa2aff;
  }
  
  .footer p {
    font-weight: 700;
    color: #000;
  }
  
  .footer p span a {
    font-weight: bold;
    color: #9900ff;
    letter-spacing: 1px;
    font-size: 1rem;
    text-decoration: none;
  } */